body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
h2 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    color: #333;
}
h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    color: #333;
}
form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}
form input[type="text"],
form select {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
form select option {
    padding: 10px;
}
form input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
a {
    margin-left: 20px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #444;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
a {
    color: #444;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: underline;
}